*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0 ;
    font-family: "Libre Baskerville", serif;
    color:#845939;

}
header {
    margin: auto;
    width: 1366px;
    height: 150px;
    background-color: #ffac3f;
    background-image: url(../img/head.png);
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
}
header img.logo {
    height: 150px;
    width: auto;
    padding-left: 30px;
}
nav{
    width: 1366px;
    height: 60px;
    margin: 0 auto;
    background-color: #eece7b;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}
nav a{
  
    border-radius: 20%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    transition: 0.2s;
    
    transform: scale(1.3);
}
main{
    width: 1366px;
    height: 2645px;
    margin: auto;
    background-color: #fefbf4;
}
h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffac3f;
    font-family: "Lobster Two", sans-serif;
}
h2{
    text-align: center;
    font-size: 25px;
    margin: 20px;
    font-family: "Lobster Two", sans-serif;
    color: #ffac3f;
}
h3{
    text-align: center;
    font-size: 18px;
    color: #251603a8;
}
#corrientes{
    width: 1366px;
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url(../img/clasica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
}
.texto1{
    width: 600px;
    height: 230px;
    background-color: #fefbf4;
    margin: 30px;
    padding: 30px;
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
}
section{
    width: 1366px;
    height: 335px;
    /*background-color: #ff0606;*/
    display: flex;
    justify-content: center;
}
.texto{
    width: 470px;
    height: 270px;
    /*background-color: #d69809;*/
    margin: 20px;
    padding: 20px;
    border: 3px solid #ffac3f;
}

.texto p{
    text-align: left;
    padding: 10px;
}
.info p{
    text-align: center;
}
.texto + img{
    width: 432px;
    height: 220px;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow:20px 25px 2px#ffac3f ;
}
#cuadros{
    height: auto;
    /*background-color: blueviolet;*/
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.obras{
    width: 290px;
    height: 129px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    
}
.obras img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    width: 290px;
    height: 129px;
    padding: 5px;
    background-color: #eecd7ba8;
    position: absolute;
    top: 95px;
    transition: .5s;
}

.info:hover{
    top: 20px;
}
footer {
    margin: 0 auto;
    width: 1366px;
    height: 100px;
    background-color: #ffac3f;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

footer .logo {
    position: absolute;
    left: 30px;       
    height:80px;     
    width: auto;
    padding: 0; 
}

footer p {
    margin: 0;
    color: #845939;

}


